window {

    background: rgba(24, 24, 37, 0.55);
    border-radius: 8px;
    border: none;
    padding: 4px 12px;
}

#parameterbar {

    background: rgba(69, 71, 90, 0.4);
    min-height: 4px;
    min-width: 160px;
    border-radius: 99px;
    margin-left: 8px;
}

#parameterbar progress {

    background: #cba6f7;
    border-radius: 99px;
}

#image {

    color: #cdd6f4;
    font-size: 12px;
    background: transparent;
}
